body{
    background-color: #131313;
    font-family: 'Ubuntu', sans-serif;
}

/******************************
        CLASSES GLOBALES
******************************/
.btn {
    background-color: rgb(255, 255, 255);
    color: black;
    margin-top: 10px;
}
.btn:hover {
    background-color: rgb(193, 193, 193);
    color: black;
}

.btnSub {
    background-color: rgb(0, 20, 198);
    padding: 10px;
}
.btnSub:hover {
    background-color: rgb(0, 16, 144);
}

.icon{
    width: 20px;
}
.iconFooter{
    width: 30px;
    height: 30px;
}

.container {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 767px) {
    .container {
        width: 90%;
    }
}

/******************************
        NAVBAR
******************************/
nav{
    background-color: #131313;
}

nav a.navbar-brand{
    color: white;
    font-size: 30px;
}
nav a.navbar-brand span{
    font-size: 20px;
}

nav span img#emote{
    width: 25px;
}

/******************************
        ACCEUIL
******************************/

main #accueil {
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.2) 50%,
            black 50%
    ),
    url("http://tyrolium.fr/Contenu/Image/Background4.png");
    background-size: cover;
    background-position: center 35%;
    color: white;
    padding: 50px 0 50px;
}
main #accueil div {
    display: flex;
    justify-content: flex-end;
}
main #accueil article {
    width: 40%;
}
main #accueil article h2 {
    margin-left: -70px;
}
main #accueil article p {
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    main #accueil {
        background-image: linear-gradient(
                to right,
                #282828 90%,
                rgba(0, 0, 0, 0.2) 9%
        ),
        url("http://tyrolium.fr/Contenu/Image/Background4.png");
        color: white;
        padding-top: 30px;
        padding-bottom: 5px;
        padding-left: 0px;
        padding-right: 0px;
    }
    main #accueil article {
        width: 100%;
    }
    main #accueil article h2 {
        margin-left: 0;
    }
    
    main #accueil article p {
        margin-left: 0px;
        margin-right: 30px;
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    main #accueil {
        background: #282828;
    }
    main #accueil article p {
        margin-left: 0px;
        margin-right: 0px;
    }
}
/******************************
        CAPITAL
******************************/
#projet {
    text-align: center;
    border: 2px solid #131313;
    padding: 30px 20px 0;
    background-color: #131313;
    color: white;
}

#projet ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
#projet ul li#start{
    background: linear-gradient(
            to right,
            #151515 30%,
            rgba(0, 0, 0, 0.2) 50%
    ),
    url("http://tyrolium.fr/Contenu/Image/Background10.png");
    background-size: cover;
    background-position: center 35%;
    width: 100%;
    padding-right: 50%;
    
}
#projet ul li#start p#notgras{
    font-weight: normal;
}

#projet ul li p{
    font-weight: bold;
    margin: 0;
    padding: 0;
}
#projet ul li {
    background-color: #151515;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
    width: 30%;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
#projet ul li h3 {
    margin-bottom: 0;
}
#projet ul li#start a.btn:first-of-type {
    width: 70%;
}
#projet ul li#start a.btn {
    width: 10%;
}     
#projet ul li a.btn:first-of-type {
    width: 90%;
}
#projet ul li img.logo {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center top;
}

#projet ul li img:hover {
    border-radius: 5%;
}

@media (max-width: 1056px) {

    #projet ul li {
        width: 100%;
    }
        
    #projet ul li a.btn:first-of-type {
        width: 60%;
    }
}

@media (max-width: 800px) {

    #projet ul li#start {
        background: #151515;
        width: 100%;
        padding-right: 0%;
    }
    
    #projet ul li#start a.btn {
        width: unset;
    }    
}

/******************************
        website
******************************/

main #website {
    background-image: linear-gradient(
            to left,
            black 60%,
            rgba(0, 0, 0, 0.2) 40%
    ),
    url("http://tyrolium.fr/Contenu/Image/Background11.png");
    background-size: cover;
    background-position: center 35%;
    color: white;
    padding: 50px 0 80px;
}
main #website div {
    display: flex;
    justify-content: flex-end;
}
main #website article {
    width: 50%;
}
main #website article h2 {
    margin-left: -70px;
}
main #website article p {
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    main #website {
        background-image: linear-gradient(
                to left,
                #282828 90%,
                rgba(0, 0, 0, 0.2) 10%
        ),
        url("http://tyrolium.fr/Contenu/Image/Background11.png");
        color: white;
        padding: 30px 0 30px;
    }
    main #website article {
        width: 100%;
        margin-left: 10%;
    }
    main #website article h2{
        margin-left: 0px;
    }
}

@media (max-width: 500px) {
    main #website {
        background: #282828;
        padding: 30px 0 30px;
    }
    main #website article p {
        margin-left: 0px;
    }
    
    main #website article {
        margin-left: 0%;
    }
}


/******************************
        recrutement
******************************/
main #recrut {
    text-align: center;
    border: 2px solid #131313;
    padding: 30px 20px 0;
    background-color: #131313;
    color: white;
    padding-bottom: 30px;
}
main #recrut button {
    padding-right: 25px;
    padding-left: 20px;
    padding-bottom: 0px;
    padding-top: 5px;
    margin-bottom: 20px;
}
main #recrut button p{
    margin: 0;
    padding: 0;
    font-size: 15px;
    width: 90%;
    margin-bottom: 5px;
}

#recrut span{
    margin: 0;
    padding: 0;
    height: 29.75px;
    width: 10%;
}

#recrut ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
#recrut a {
    background: white;
    color: black;
}

#recrut ul li {
    width: 30%;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

@media (max-width: 1056px) {

    #recrut ul li {
        width: 50%;
    }
    #recrut ul li:last-of-type {
        width: 100%;
    }

    #recrut ul {
        margin-top: 0px;
    }

    #recrut ul:first-of-type {
        margin-top: 50px;
    }
        
}

@media (max-width: 767px) {
    #recrut ul li {
        width: 100%;
    }

}


/******************************
        credit
******************************/

#credit {
    background-image: linear-gradient(
            to right,
            black 30%,
            rgba(0, 0, 0, 0.2) 50%
    ),
    url("http://tyrolium.fr/Contenu/Image/Background2.png");
    background-size: cover;
    background-position: center 35%;
    color: white;
    padding: 50px 0 80px;
}
#credit div {
    display: flex;
    justify-content: flex-start;
}
#credit article {
    width: 40%;
}
#credit article h2 {
    margin-left: 160px;
    text-transform : uppercase;
}
#credit article h3 {
    margin-left: 80px;
}
#credit article p {
    margin-left: 100px;
}

@media (max-width: 767px) {
    #credit {
        background-image: linear-gradient(
                to right,
                #151515 90%,
                rgba(0, 0, 0, 0.2) 10%
        ),
        url("http://tyrolium.fr/Contenu/Image/Background2.png");
        color: white;
        padding: 20px;
    }
    #credit article {
        width: 100%;
    }
    #credit article h2 {
        margin-left: 0;
    }
}

@media (max-width: 564px) {
    #credit {
        background: #151515;
    }

    #credit article h3 {
        margin-left: 60px;
    }
    #credit article p {
        margin-left: 30px;
    }
}

/******************************
        FOOTER
******************************/

footer {
    background: black;
    border-top: 10px solid rgb(0, 20, 198);
    color: white;
    padding: 20px 0;
}

footer > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer article {
    width: 25%;
    text-align: right;
}
footer article img {
    height: 60px;
}
footer article a {
    margin: 0 5px;
    font-size: 20px;
}

footer form {
    width: 45%;
    background: white;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
    margin-top: -100px;
    position: relative;
    z-index: 1;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.3);
}
footer form h2 {
    text-transform: uppercase;
}

footer form input:not([type="submit"]) {
    width: 100%;
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
}
footer form ::placeholder {
    color: black;
    font-size: 13px;
}
footer form input[type="submit"] {
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

footer ul {
    width: 25%;
}

footer ul li {
    display: flex;
    align-items: baseline;
}
footer ul li span {
    color: rgb(0, 20, 198);
    margin-right: 15px;
}
footer ul li h3 {
    text-transform: uppercase;
    font-size: 13px;
}
footer ul li div p#mail {
    max-width: 10px;
}

@media (max-width: 993px) {

    footer > div > * {
        width: 100%;
    }

    footer article {
        margin: 50px 0;
        text-align: center;
    }

    footer form {
        margin-top: 10px;
    }

    footer form {
        order: -1;
    }
    
    footer ul {
        text-align: center;
    }
    
    footer ul li {
        display: unset;
        align-items: center;
    }
    footer ul li div p#mail {
        max-width: unset;
    }
    footer ul li span {
        margin-right: 0px;
    }
    
    footer ul li p {
        text-align: center;
    }
    
    footer ul li h3 {
        text-align: center;
        text-transform: uppercase;
        font-size: 13px;
    }
}


